.header {
    color: var(--textCol2);
    background-color: var(--darkCol);

    margin: 0;
    padding: 16rem 5rem;

    font-size: var(--fontSize4);
    text-align: left;
}

.subheader {
    font-size: var(--fontSize3);
}

.body {
    margin: 0 auto;
    max-width: 80rem;
}

.section {
    color: var(--textCol1);

    border: 1px solid var(--darkCol);
    border-radius: 1em;

    margin: 1.618rem;
}

.section p {
    margin: 0rem;
    padding: 1rem 1rem 0rem;
}

.section-header {
    font-size: var(--fontSize2);
    font-weight: 400;
}

.section-content {
    padding: 0em 1.618em 1.618em;
    text-align: left;
}

#header-canvas {
    position: absolute;
    top: 0;
    left: 0;
}