.header {
    padding: 6rem;
    font-size: 50px;
    text-align: left;
    background-color: #131313;
    margin: 0;
}

.links {
    font-size: 20px;
    padding-top: 20px;
}

.small {
    font-size: 30px;
}

h2 {
    font-style: normal;
    padding-bottom: 5px;
    /* border-bottom: 2px white solid; */
}

.showcaseprojects {
    display: flex;
    justify-content: center;
}