.projectContent {
    color: var(--textCol2);
    width: 100%;
}

.projectDetails {
    background-color: var(--darkCol);
    padding: 3rem;
    text-align: left;
}

.projectTitle {
    font-size: var(--fontSize3);
}

.projectDesc {
    font-size: var(--fontSize2);
}

.projectRepo {
    color: var(--secondaryCol);

    text-decoration: none;
    display: inline-flex;
    vertical-align: middle;
    width: auto;

    transition: all .1s ease-in-out;
}

.projectRepo:hover {
    color: var(--activeCol);
    transform: scale(1.05);
}

.projectImages img {
    max-width: 80%;
}

.projectImages p {
    padding-top: 40px;
}

.projectVideos iframe {
    max-width: 80%;
}

.projectVideos p {
    padding-top: 40px;
}

h2 {
    color: var(--textCol1);
}