.showcaseblock {
    background-color: #505050;
    transition: all .2s ease-in-out; 
}

.showcaseblock a {
    text-decoration: none;
    color: white;
}

.showcasetitle {
    padding: 20px;
    font-size: 28px;
    background-color: #363636;
}

.showcasecontent {
    padding: 15px;
    background-color: #505050;
}

.showcaseblock:hover {
    transform: scale(1.1); 
}