:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --lightCol: #F2F5EA;
  --darkCol: #2C363F;
  --primaryCol: #615f94;
  --secondaryCol: #C395EE;
  --accentCol: #c34466;
  --textCol1: #0c0c0e;
  --textCol2: #ededfe;

  --fontSize1: 1rem;
  --fontSize2: 1.618rem;
  --fontSize3: 3.236rem;
  --fontSize4: 4.854rem;

  color-scheme: light;
  color: var(--textCol1);
  background-color: var(--lightCol);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}